#header
  .columns
    .column.text-center
      %p.subtitle.is-5 Notificações
#content
  .container
    .columns
      .column
        = link_to "Voltar para página principal", candidate.root_path, class: 'button is-dark is-fullwidth', data: { disable_with: t(:disable_with)}

    .columns
      .column
        - 10.times do 
          .box
            .columns
              .column
                = link_to "#" do 
                  %p
                    %b 08:00
                  %p Atualização iniciada
                  %p
                    %i Lorem ipsum la asjdn jlandahsi ausdh
