.columns.is-mobile
  .column.is-3
    = link_to "<i class='fas fa-arrow-left'></i>".html_safe, common.requeriments_path, class: 'button is-warning'
  .column.is-10
    %p.title.is-5 Consulta requerimento
.divider
.columns
  .column