.divider {
  margin-top: 30px;
}

.mini-divider {
  margin-top: 15px;
}

.big-divider {
  margin-top: 50px;
}

.text-center {
  text-align: center !important;
}

.is-center {
  margin: 0 auto !important;
}

#content .columns {
  width: 100%;
  margin-left: 0;
}

#candidate-header {
  width: 100%;
  border-bottom: 3px solid #efefef;
  padding-top: 20px;
  margin-left: 0;
  background: #ffd932;
  background: -moz-linear-gradient(45deg, #ffd932 0%, #f4b350 100%);
  background: -webkit-linear-gradient(45deg, #ffd932 0%,#f4b350 100%);
  background: linear-gradient(45deg, #ffd932 0%,#f4b350 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd932', endColorstr='#f4b350',GradientType=1 );
}

#candidate-links a {
  color: black;
  font-weight: 500;
  cursor: pointer;
}

#candidate-tabs a {
  color: black;
}

#candidate-tabs .tabs li.is-active a {
  border-bottom-color: #363636;
}

#header {
  padding-top: 10px;
  background: #ffd932;
  background: -moz-linear-gradient(45deg, #ffd932 0%, #f4b350 100%);
  background: -webkit-linear-gradient(45deg, #ffd932 0%,#f4b350 100%);
  background: linear-gradient(45deg, #ffd932 0%,#f4b350 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd932', endColorstr='#f4b350',GradientType=1 );
}

#header .columns {
  margin-left: 0;
  width: 100%;
}

.modal-card-head, .modal-card-foot {
  padding: 15px !important;
}

.modal .is-danger {
  background-color: #d41212;
}

.modal .is-danger .modal-card-title .subtitle {
  color: white !important;
  font-weight: bold !important;
}