#header
  .columns
    .column.text-center
      %p.subtitle.is-5 Meu cadastro
#content
  .container
    .columns
      .column
        = link_to "Voltar para página principal", candidate.root_path, class: 'button is-dark is-fullwidth', data: { disable_with: t(:disable_with)}

    .columns
      .column
        .box
          .columns.is-mobile
            .column
              %p
                %b Programa
              %p RII (Vulneráveis)
          .columns.is-mobile
            .column
              %p
                %b Situação cadastral
              %p asdjhakshskdj
          .columns.is-mobile
            .column
              %p
                %b Situação Processual
              %p Habiasdkasdjsd
    .columns
      .column
        .box
          .columns.is-mobile
            .column
              %b Lista
            .column
              %b Posição
            .column
              %b Pontuação
          .columns.is-mobile      
            .column
              Lista A
            .column
              1564 º
            .column
              2165456.465456
          .columns.is-mobile      
            .column
              Lista A
            .column
              1564 º
            .column
              2165456.465456
    .columns
      .column
        .box
          .columns.is-mobile
            .column
              %b Agendamentos
          .columns.is-mobile
            .column
              %p Data/Hora
            .column
              %p Situação

    .columns
      .column
        .box
          .columns.is-mobile
            .column
              %b Requerimentos
          .columns.is-mobile
            .column
              %p Data/Hora
            .column
              %p Situação

    .columns
      .column
        .box
          .columns.is-mobile
            .column
              %b Atendimentos
          .columns.is-mobile
            .column
              %p Data/Hora
            .column
              %p Situação

    .columns
      .column
        .box
          .columns.is-mobile
            .column
              %b Indicações
          .columns.is-mobile
            .column
              %p Data/Hora
            .column
              %p Situação

    .columns
      .column
        .box
          .columns.is-mobile
            .column
              %b Vínculo com entidade
          .columns.is-mobile
            .column
              %p Data/Hora
            .column
              %p Situação